:root {
  --primary-color:#0D2137;
  --secondary-color:#E0EAF5;
  --background-color:#FAFAFA;
  --gray-color:#F4F4F4;
  --hover-color:#FF8E2B;
  --white-color:#FFF;
  --font-title: Montserrat;
  --font-paragraph: Lato;
  --font-numbers: Geneva;
  background-color: var(--secondary-color);
  font-family: var(--font-paragraph);
  font-size: 18px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  background-color: var(--white-color);
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: .3rem;
  border: 1px solid var(--gray-color);
  box-shadow: 0 0 16px var(--gray-color);
}
.figure__btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 1rem;
}
.btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 0;
  padding: 1rem;
  border-radius: .3rem;
  cursor: pointer;
  transition: .3s;
}
.btn:hover {
  background-color: var(--hover-color);
}
.input {
  background-color: var(--secondary-color);
  border: 1px solid var(--gray-color);
  display: block;
  padding: 1rem .5rem;
  width: 100%;
  border-radius: .3rem;
}